
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Made with ❤️ by The App Brewery</p>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
</body>
</html>
